name: "Build and test master"
on:
    schedule:
        - cron: '0 0 * * 6' # Every Saturday at 00:00

jobs:
    build_and_test_master:
        uses: ./.github/workflows/build_and_test.yml
        with:
            DOCKER_IMAGE_APP: "econumo/api-backend:latest"
        secrets: inherit